#seccionAbout .contenedor h3, #seccionMusic .contenedor h3 {
  margin-bottom: 20px;
  text-align: right;
  font-family: "Subway-Black";
  font-size: 65px;
  font-weight: inherit;
  letter-spacing: 2px; }

#seccionAbout .contenedor p, #seccionMusic .contenedor p {
  margin-bottom: 40px;
  color: #434343;
  font-family: "Noto Sans", sans-serif;
  line-height: 150%;
  text-align: right;
  font-size: 13px; }

#seccionAbout .contenedor a, #seccionMusic .contenedor .boton {
  font-family: "Noto Sans", sans-serif;
  color: #434343;
  font-weight: bold;
  border: 2px solid #f6bb61;
  padding: 10px 15px; }

#textoabout .contenedor h3, #spotify .contenedor h3 {
  text-align: center;
  font-family: "Subway-Black";
  font-size: 50px;
  font-weight: inherit;
  letter-spacing: 2px;
  border-right: 2px solid;
  padding: 15px 40px 15px 0; }

#textoabout .contenedor p {
  color: #434343;
  font-family: "Noto Sans", sans-serif;
  line-height: 150%;
  text-align: left;
  font-size: 13px;
  padding-right: 40px;
  padding-top: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  font-family: "Noto Sans", sans-serif; }

.contenedor {
  width: 80%;
  margin: auto; }

@font-face {
  font-family: "Subway-Black";
  font-weight: normal;
  font-style: normal;
  src: local("Subway-Black"), url("css/typo/Subway-Black.eot") format("embedded-opentype"), url("css/typo/Subway-Black.woff") format("woff"), url("css/typo/Subway-Black.svg") format("svg"); }

@media screen and (max-width: 769px) {
  * {
    background-color: #eecfc9; } }

header {
  background-color: #eecfc9; }
  header h1 {
    display: inline-block;
    position: fixed;
    z-index: 4; }
  header .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 20px; }
    header .nav li {
      display: inline-block;
      margin: auto;
      padding: 40px 10px; }
      header .nav li a {
        color: #d2564c;
        font-size: 12px;
        font-weight: bolder;
        letter-spacing: 2px;
        padding: 0 40px;
        transition: color; }
      header .nav li a:hover {
        color: #f6bb61; }

/* ------- */
@media screen and (max-width: 769px) {
  header h1 {
    display: block;
    position: static;
    text-align: center;
    padding: 10px; }
  header .nav {
    align-items: center;
    padding-top: 10px; }
    header .nav li {
      padding: 10px 0px; }
      header .nav li a {
        padding: 0 20px;
        transition: none; } }

/*
#quote {
	background-color: $colorFondo;
	h2 {
		text-align: center;
		font-family: $fuenteSecundaria;
		font-size: $tamanioQuotes;
		color: $colorPrincipal;
		padding: 160px 0px;
		font-weight: inherit;
		letter-spacing: 2px;
	}
}

-------

@media screen and (max-width: 769px) {
	#quote {
		h2 {
			font-size: 50px;
			padding: 100px 0px 50px;
		}
	}
}
*/
#seccionAbout {
  background-color: #eecfc9; }
  #seccionAbout .contenedor {
    display: -ms-grid;
    display: flex;
    display: grid;
    justify-content: center;
    grid-template-columns: 4fr 3fr;
    grid-gap: 40px;
    padding: 100px 0px;
    align-items: center; }
    #seccionAbout .contenedor h3 {
      color: #f6bb61;
      padding-top: 70px; }
    #seccionAbout .contenedor p {
      padding-left: 90px; }
    #seccionAbout .contenedor a {
      transition: background;
      transition: color;
      text-align: right; }
    #seccionAbout .contenedor a:hover {
      background: #f6bb61;
      color: #eecfc9; }
    #seccionAbout .contenedor img {
      transition: all 1s; }
    #seccionAbout .contenedor img:hover {
      filter: opacity(0.8); }

#seccionMusic {
  background-color: #eecfc9; }
  #seccionMusic .contenedor {
    display: -ms-grid;
    display: flex;
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 4fr;
    grid-gap: 40px;
    padding: 20px 0px;
    align-items: center; }
    #seccionMusic .contenedor img {
      transition: all 1s; }
    #seccionMusic .contenedor img:hover {
      filter: opacity(0.8); }
    #seccionMusic .contenedor h3 {
      color: #fd442c;
      padding-top: 70px;
      text-align: left; }
    #seccionMusic .contenedor p {
      text-align: left; }
    #seccionMusic .contenedor .boton {
      border: 2px solid #fd442c;
      padding: 10px 25px;
      transition: background;
      transition: color; }
    #seccionMusic .contenedor .boton:hover {
      background: #fd442c;
      color: #eecfc9; }

#seccionFrase {
  background-color: #eecfc9;
  padding: 140px 80px 90px; }
  #seccionFrase p {
    color: #d2564c;
    line-height: 150%;
    text-align: center;
    font-size: 30px; }
    #seccionFrase p span {
      color: #d2564c;
      line-height: 150%;
      font-weight: bold;
      text-align: center;
      font-size: 30px; }
  #seccionFrase h4 {
    color: #f6bb61;
    line-height: 260%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px; }

/* ------- */
@media screen and (max-width: 769px) {
  #seccionAbout .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-gap: 10px;
    padding-bottom: 30px; }
    #seccionAbout .contenedor .v1 {
      order: 0; }
      #seccionAbout .contenedor .v1 h3 {
        padding-top: 0px;
        text-align: center;
        font-size: 40px; }
      #seccionAbout .contenedor .v1 p {
        padding: 0px 10px;
        text-align: center; }
    #seccionAbout .contenedor .v2 {
      order: -1; }
      #seccionAbout .contenedor .v2 img {
        width: 100%; }
  #seccionMusic .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-gap: 10px;
    padding-bottom: 30px; }
    #seccionMusic .contenedor img {
      width: 100%; }
    #seccionMusic .contenedor h3 {
      padding-top: 0px;
      text-align: center;
      font-size: 40px; }
    #seccionMusic .contenedor p {
      padding-left: 0px;
      text-align: center; }
  #seccionFrase {
    padding: 50px 10px; }
    #seccionFrase p {
      font-size: 20px; }
      #seccionFrase p span {
        font-size: 20px; }
    #seccionFrase h4 {
      font-size: 15px; } }

#contacto {
  background-color: #eecfc9;
  padding: 30px; }
  #contacto .contenedor {
    border-top: 2px solid #f6bb61;
    border-bottom: 2px solid #f6bb61;
    padding: 40px; }
  #contacto p {
    color: #434343;
    font-family: "Noto Sans", sans-serif;
    line-height: 150%;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px; }
  #contacto form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0; }
    #contacto form input {
      padding: 10px;
      margin: 0 10px;
      border: none;
      border-bottom: 1px solid #d2564c;
      background: none;
      font-size: 11px;
      color: #434343;
      resize: none;
      outline: none; }
      #contacto form input[type="submit"] {
        border: 2px solid #d2564c;
        font-family: "Subway-Black";
        font-weight: inherit;
        letter-spacing: 1px;
        color: #434343;
        font-size: 12px;
        transition: background;
        transition: color; }
      #contacto form input[type="submit"]:hover {
        background: #d2564c;
        color: #eecfc9; }

@media screen and (max-width: 769px) {
  #contacto {
    padding: 0px; }
    #contacto .contenedor {
      padding: 40px 0; }
    #contacto form {
      display: block; }
      #contacto form input {
        padding: 10px;
        margin: 20px; } }

footer {
  background-color: #eecfc9;
  /*cierra contenedor*/ }
  footer .contenedor {
    display: -ms-grid;
    display: flex;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px 20px; }
    footer .contenedor #paginas a {
      color: #434343;
      font-family: "Noto Sans", sans-serif;
      line-height: 170%;
      text-align: left;
      font-weight: bolder;
      letter-spacing: 1px;
      font-size: 14px;
      transition: color; }
    footer .contenedor #paginas a:hover {
      color: #d2564c; }
    footer .contenedor #socialmedia {
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .contenedor #socialmedia ul {
        display: flex;
        flex-wrap: nowrap; }
        footer .contenedor #socialmedia ul i {
          padding: 0 10px;
          color: #434343;
          font-size: 25px;
          transition: color; }
        footer .contenedor #socialmedia ul i:hover {
          color: #f6bb61; }
    footer .contenedor #quotefooter p {
      color: #434343;
      font-family: "Subway-Black";
      text-align: right;
      font-weight: inherit;
      letter-spacing: 1px;
      font-size: 35px;
      line-height: 100%;
      animation-name: cambiar_color;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }

@keyframes cambiar_color {
  0% {
    color: #d2564c; }
  50% {
    color: #f6bb61; }
  100% {
    color: #fd442c; } }
    footer .contenedor #credits {
      color: #979797;
      font-family: "Noto Sans", sans-serif;
      line-height: 150%;
      text-align: center;
      font-size: 11px;
      padding: 10px 0; }

/*cierra footer*/
/* ------- */
@media screen and (max-width: 769px) {
  footer .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); }
    footer .contenedor #paginas {
      margin: auto; }
    footer .contenedor #quotefooter p {
      text-align: center; } }

#textoabout {
  background-color: #eecfc9; }
  #textoabout .contenedor {
    display: -ms-grid;
    display: flex;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 70px 0 50px;
    align-items: center; }
    #textoabout .contenedor h3 {
      color: #fd442c;
      border-right-color: #fd442c; }

#videoabout {
  background-color: #eecfc9; }
  #videoabout .contenedor {
    padding: 40px 70px 60px;
    display: flex;
    justify-content: center; }

#flechaabout {
  background-color: #eecfc9; }
  #flechaabout .contenedor h3 {
    text-align: center;
    padding: 15px 0; }
    #flechaabout .contenedor h3 i {
      font-size: 40px;
      color: #fd442c;
      animation-name: cambiar_color;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }

@keyframes cambiar_color {
  0% {
    color: #d2564c; }
  50% {
    color: #f6bb61; }
  100% {
    color: #fd442c; } }

/* ------- */
@media screen and (max-width: 769px) {
  #textoabout .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 0px;
    padding: 10px 0; }
    #textoabout .contenedor h3 {
      font-size: 50px;
      border-right: none;
      border-bottom: 2px solid;
      padding: 0 0 10px 0; }
    #textoabout .contenedor p {
      text-align: center;
      font-size: 13px;
      padding-right: 0px;
      padding-top: 0px; }
  #videoabout {
    background-color: #eecfc9; }
    #videoabout .contenedor {
      padding: 10px;
      width: 100%; } }

#shows {
  background-color: #eecfc9; }
  #shows .contenedor ul {
    display: -ms-grid;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 70px 20px;
    justify-content: center;
    align-items: center; }
    #shows .contenedor ul li {
      border: 2px solid #d2564c;
      text-align: center;
      padding: 30px 0; }
      #shows .contenedor ul li p {
        color: #434343;
        font-family: "Noto Sans", sans-serif;
        line-height: 150%;
        font-weight: bold;
        font-size: 12px; }
      #shows .contenedor ul li h4 {
        font-family: "Subway-Black";
        color: #d2564c;
        font-size: 16px;
        font-weight: inherit;
        letter-spacing: 1px;
        line-height: 200%; }
      #shows .contenedor ul li a {
        display: inline-block;
        font-family: "Noto Sans", sans-serif;
        color: #f6bb61;
        font-weight: bold;
        border: 2px solid #f6bb61;
        padding: 10px 20px;
        margin-top: 20px;
        transition: background;
        transition: color; }
      #shows .contenedor ul li a:hover {
        background: #f6bb61;
        color: #eecfc9; }

#botonmore {
  background-color: #eecfc9; }
  #botonmore .contenedor {
    display: flex;
    justify-content: center; }
    #botonmore .contenedor a {
      font-family: "Subway-Black";
      letter-spacing: 1px;
      color: #434343;
      font-size: 16px;
      padding: 10px;
      transition: border;
      transition: color; }
    #botonmore .contenedor a:hover {
      border-bottom: 2px dotted #d2564c; }

/* ------- */
@media screen and (max-width: 769px) {
  #shows .contenedor ul {
    grid-template-columns: 1fr; } }

#albums {
  background-color: #eecfc9; }
  #albums .contenedor ul {
    display: -ms-grid;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 0px;
    padding: 30px 20px;
    justify-content: center;
    align-items: center; }
    #albums .contenedor ul li {
      text-align: center; }
      #albums .contenedor ul li img {
        filter: grayscale(1);
        transition: filter 0.5s; }
      #albums .contenedor ul li img:hover {
        filter: grayscale(0); }
      #albums .contenedor ul li h4 {
        font-family: "Subway-Black";
        color: #d2564c;
        font-size: 20px;
        font-weight: inherit;
        letter-spacing: 1px;
        line-height: 150%; }
      #albums .contenedor ul li a {
        display: inline-block;
        font-family: "Noto Sans", sans-serif;
        color: #f6bb61;
        font-weight: bold;
        border: 2px solid #f6bb61;
        padding: 10px 20px;
        margin-top: 10px;
        transition: background;
        transition: color; }
      #albums .contenedor ul li a:hover {
        background: #f6bb61;
        color: #eecfc9; }

#spotify {
  background-color: #eecfc9; }
  #spotify .contenedor {
    display: -ms-grid;
    display: flex;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 70px 0 50px;
    align-items: center;
    justify-items: center; }
    #spotify .contenedor h3 {
      color: #f6bb61;
      border-right-color: #f6bb61; }

/* ------- */
@media screen and (max-width: 769px) {
  #albums .contenedor ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px 0px;
    padding: 30px 10px; }
    #albums .contenedor ul li img {
      filter: grayscale(0);
      transition: none; }
    #albums .contenedor ul li a {
      transition: none;
      transition: none; }
  #spotify .contenedor {
    grid-template-columns: 1fr; }
    #spotify .contenedor h3 {
      font-size: 40px;
      border-right: none;
      border-bottom: 2px solid;
      padding: 15px 0; } }
