footer {
	background-color: $colorFondo;
	.contenedor {
		display: -ms-grid;
		display: flex;
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		padding: 50px 20px;

		#paginas {
			a {
				color: $colorSecundario;
				font-family: $fuentePrincipal;
				line-height: 170%;
				text-align: left;
				font-weight: bolder;
				letter-spacing: 1px;
				font-size: 14px;
				transition: color;
			}
			a:hover {
				color: $colorPrincipal;
			}
		}

		#socialmedia {
			display: flex;
			align-items: center;
			justify-content: center;
			ul {
				display: flex;
				flex-wrap: nowrap;

				i {
					padding: 0 10px;
					color: $colorSecundario;
					font-size: 25px;
					transition: color;
				}

				i:hover {
					color: $colorAmarillo;
				}
			}
		}

		#quotefooter {
			p {
				color: $colorSecundario;
				font-family: $fuenteSecundaria;
				text-align: right;
				font-weight: inherit;
				letter-spacing: 1px;
				font-size: 35px;
				line-height: 100%;
				animation-name: cambiar_color;
				animation-duration: 5s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}
			@keyframes cambiar_color {
				0% {
					color: $colorPrincipal;
				}

				50% {
					color: $colorAmarillo;
				}

				100% {
					color: $colorNaranja;
				}
			}
		}

		#credits {
			color: rgb(151, 151, 151);
			font-family: $fuentePrincipal;
			line-height: $altoLineaParrafos;
			text-align: center;
			font-size: 11px;
			padding: 10px 0;
		}
	} /*cierra contenedor*/
} /*cierra footer*/

/* ------- */

@media screen and (max-width: 769px) {
	footer {
		.contenedor {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);

			#paginas {
				margin: auto;
			}

			#quotefooter {
				p {
					text-align: center;
				}
			}
		}
	}
}
