header {
	background-color: $colorFondo;
	h1 {
		display: inline-block;
		position: fixed;
		z-index: 4;
	}
	.nav {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
		padding-top: 20px;

		li {
			display: inline-block;
			margin: auto;
			padding: 40px 10px;

			a {
				color: $colorPrincipal;
				font-size: $tamanioNav;
				font-weight: bolder;
				letter-spacing: 2px;
				padding: 0 40px;
				transition: color;
			}

			a:hover {
				color: $colorAmarillo;
			}
		}
	}
}

/* ------- */

@media screen and (max-width: 769px) {
	header {
		h1 {
			display: block;
			position: static;
			text-align: center;
			padding: 10px;
		}
		.nav {
			align-items: center;
			padding-top: 10px;

			li {
				padding: 10px 0px;

				a {
					padding: 0 20px;
					transition: none;
				}
			}
		}
	}
}
