#seccionAbout {
	background-color: $colorFondo;
	.contenedor {
		display: -ms-grid;
		display: flex;
		display: grid;
		justify-content: center;
		grid-template-columns: 4fr 3fr;
		grid-gap: 40px;
		padding: 100px 0px;
		align-items: center;

		h3 {
			@extend %h3;
			color: $colorAmarillo;
			padding-top: 70px;
		}

		p {
			@extend %p;
			padding-left: 90px;
		}

		a {
			@extend %boton;
			transition: background;
			transition: color;
			text-align: right;
		}

		a:hover {
			background: $colorAmarillo;
			color: $colorFondo;
		}

		img {
			transition: all 1s;
		}

		img:hover {
			filter: opacity(0.8);
		}
	}
}

#seccionMusic {
	background-color: $colorFondo;
	.contenedor {
		display: -ms-grid;
		display: flex;
		display: grid;
		justify-content: center;
		grid-template-columns: 3fr 4fr;
		grid-gap: 40px;
		padding: 20px 0px;
		align-items: center;

		img {
			transition: all 1s;
		}

		img:hover {
			filter: opacity(0.8);
		}

		h3 {
			@extend %h3;
			color: $colorNaranja;
			padding-top: 70px;
			text-align: left;
		}

		p {
			@extend %p;
			text-align: left;
		}

		.boton {
			@extend %boton;
			border: 2px solid $colorNaranja;
			padding: 10px 25px;
			transition: background;
			transition: color;
		}

		.boton:hover {
			background: $colorNaranja;
			color: $colorFondo;
		}
	}
}

#seccionFrase {
	background-color: $colorFondo;
	padding: 140px 80px 90px;
	p {
		color: $colorPrincipal;
		line-height: $altoLineaParrafos;
		text-align: center;
		font-size: 30px;

		span {
			color: $colorPrincipal;
			line-height: $altoLineaParrafos;
			font-weight: bold;
			text-align: center;
			font-size: 30px;
		}
	}
	h4 {
		color: $colorAmarillo;
		line-height: 260%;
		text-align: center;
		font-size: 20px;
		letter-spacing: 2px;
	}
}

/* ------- */

@media screen and (max-width: 769px) {
	#seccionAbout {
		.contenedor {
			grid-template-columns: 1fr;
			grid-template-rows: 2fr;
			grid-gap: 10px;
			padding-bottom: 30px;

			.v1 {
				order: 0;
				h3 {
					padding-top: 0px;
					text-align: center;
					font-size: 40px;
				}

				p {
					padding: 0px 10px;
					text-align: center;
				}
			}

			.v2 {
				order: -1;
				img {
					width: 100%;
				}
			}
		}
	}

	#seccionMusic {
		.contenedor {
			grid-template-columns: 1fr;
			grid-template-rows: 2fr;
			grid-gap: 10px;
			padding-bottom: 30px;

			img {
				width: 100%;
			}

			h3 {
				padding-top: 0px;
				text-align: center;
				font-size: 40px;
			}

			p {
				padding-left: 0px;
				text-align: center;
			}
		}
	}

	#seccionFrase {
		padding: 50px 10px;
		p {
			font-size: 20px;

			span {
				font-size: 20px;
			}
		}
		h4 {
			font-size: 15px;
		}
	}
}
