$colorPrincipal: #d2564c;
$colorSecundario: #434343;
$colorAmarillo: #f6bb61;
$colorNaranja: #fd442c;
$colorFondo: #eecfc9;
$fuentePrincipal: "Noto Sans", sans-serif;
$fuenteSecundaria: "Subway-Black";
$tamanioNav: 12px;
$tamanioQuotes: 80px;
$tamanioTitulos: 65px;
$altoLineaParrafos: 150%;
